<!DOCTYPE html>
<html lang="en" ng-app="tweetAnalyzeApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Twitter Feed</title>
    <link rel="icon" type="image/svg+xml" href="https://abs.twimg.com/a/1433192681/img/t1/favicon.svg">

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <link href="https://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.css" rel="stylesheet">
  </head>
  <body ng-controller="tweetAnalyzeCtrl">
    <div class="container">
      <div class="page-header">
        <h1>Twitter Analysis</h1>
      </div>
      
      <div>
        <span ng-if="tweets.length">
          Loaded {{tweets.length}} {{tweets.length > 1 ? 'tweets' : 'tweet'}}
        </span>
        <span ng-if="!tweets.length">No tweets found</span>
      </div>
      
      <div>
        <h2>Hashtags <small ng-if="hashtags.hidden">{{hashtags.hidden}} not shown</small></h2>
        <canvas class="chart chart-bar" chart-data="hashtags.data" chart-labels="hashtags.labels" chart-options="hashtags.options"></canvas>
      </div>
    </div>

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="js/bootstrap.min.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.0/Chart.js"></script>
    <script src="js/angular-chart.js"></script>
    
    <script src="js/analyze.js"></script>
  </body>
</html>
