<!DOCTYPE html>
<html lang="en" ng-app="tweetFeedApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Twitter Feed</title>
	
	<link href="css/feed.css" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="TweetFeedCtrl">
	<div class="container">
		<div class="page-header">
			<h1>Live Twitter Feed! <small>({{tagline}})</small></h1>
		</div>
		
		<form>
			<div class="row">
				<div class="col-xs-9">
					<input type="text", ng-model="query" class="form-control" ng-disabled="waiting" />
				</div>
				<div class="col-xs-3">
					<input type="number" ng-model="count" class="form-control" min="1" ng-disabled="waiting" />
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-6">
					<div class="row">
						<div class="col-xs-6">
							<button ng-click="search()" class="btnExpand btn btn-default" ng-disabled="waiting">Search</button>
						</div>
						<div class="col-xs-6">
							<button type="button" class="btnExpand btn btn-default dropdown-toggle"
									data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="waiting">
								Export <span class="caret"></span>
							</button>
							<ul class="dropExport dropdown-menu">
								<li><a href="#" ng-click="exportSearch('json')">JSON</a></li>
								<li><a href="#" ng-click="exportSearch('csv')">CSV</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="row">
						<div class="col-xs-6">
							<button type="button" ng-click="dbBuild()" class="btnExpand btn btn-default" ng-disabled="waiting">Build database</button>
						</div>
						<div class="col-xs-6">
							<button type="button" ng-click="dbRead()" class="btnExpand btn btn-default" ng-disabled="waiting">Read database</button>
						</div>
					</div>
				</div>
			</div>
			
			<div class="input-group">
				<input type="text" ng-model="dbName" class="form-control" />
				<span class="input-group-btn">
					<button type="button" ng-click="dbExport()" class="btn btn-default" ng-disabled="waiting">Export database</button>
				</div>
			</div>
		</form>
		
		<div>
			<br/>
			<div ng-show="exportStatus == 'success'" class="alert alert-success" role="alert">
				<strong>Success!</strong> Exported tweets to file <a ng-href="{{exportData}}" target="_blank">here</a>
				<button ng-click="exportStatus=''" type="button" class="close" aria-label="Close"><span aria-hidden="true">×</span></button>
			</div>
			<div ng-show="exportStatus == 'overwrite'" class="alert alert-info" role="alert">
				<strong>Success!</strong> Exported tweets over existing file <a ng-href="{{exportData}}" target="_blank">here</a>
				<button ng-click="exportStatus=''" type="button" class="close" aria-label="Close"><span aria-hidden="true">×</span></button>
			</div>
			<div ng-show="exportStatus == 'error'" class="alert alert-danger" role="alert">
				<strong>Error!</strong> Failed to export tweets
				<button ng-click="exportStatus=''" type="button" class="close" aria-label="Close"><span aria-hidden="true">×</span></button>
			</div>
		</div>
		
		<div id="tweets">
			<div class="tweet" ng-repeat="tweet in tweets | sliceWrap:display:index">
				<div class="media">
					<div class="media-left">
						<img class="tweetImageLarge" ng-src="{{tweet.user.profile_image_url}}" />
					</div>
					<div class="media-body">
						<p>
							<img class="tweetImageSmall" ng-src="{{tweet.user.profile_image_url}}" />
							<span class="tweetName">{{tweet.user.name}}</span>
						</p>
						<p class="tweetText">{{tweet.text}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.min.js"></script>
	<script src="js/feed.js"></script>
  </body>
</html>
